@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, serif;
    color: aliceblue;
}

.calculator{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: dimgrey;
}

.calculator-frame {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height: 310px;
    width: 300px;
    background-color: #cccbc4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.display {
    height: 60px;
    width: auto;
    margin: 10px;
    background-color: #d4e2e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 0 10px;
}

.top-display {
    font-size: 16px;
    color: gray;
    height: 19px;
}

.bottom-display {
    font-size: 24px;
    color: black;
    height: 29px;
}

.display-operand1, .display-operator {
    font-weight: bold;
    color: grey;
    margin-left: 10px;
}

.display-operand2 {
    margin-left: auto;
    flex: 1;
    justify-self: end;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    width: auto;
    padding: 0 10px;
}

.button-group {
    display: flex;
    flex: 1 1 40px;
    gap: 5px;
}

.buttons {
    background-color: #504f4f;
    border-radius: 2px;
    border-width: 0.5px;
    border-style: groove;
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}

.buttons:hover {
    opacity: 0.5;
}

.operators {
    background-color: #666464;
}

#clr {
    background-color: #cc8459;
}

h6 {
    padding-left: 270px;
}